<div
 class="before:content-empty before:h-10% before:w-150% before:-left-25% before:absolute before:-bottom-10 before:-z-30 before:bg-[linear-gradient(90deg,rgba(255,125,241,1)_0%,rgba(254,202,230,1)_10%,rgba(92,185,254,1)_30%,rgba(92,254,211,1)_50%,rgba(181,232,185,1)_70%,rgba(254,171,92,1)_90%,rgba(255,125,241,1)_100%)] before:bg-repeat-x before:animate-[gradient-move_8s_linear_infinite] before:bg-[length:200%]
left-0 w-full h-full absolute -bottom-20 -z-50 of-hidden"
>
</div>
<div
 class="content-empty h-10% w-98% left-1% absolute -bottom-15 -z-20 bg-[#18181b]"
>
</div>
<div
 class="content-empty h-50% w-10% right-0 absolute bottom-10 -z-20 bg-[#18181b]"
>
</div>
<div
 class="content-empty h-20% w-100% left-0 absolute -bottom-20 -z-10 backdrop-blur-20px backdrop-filter"
>
</div>
<div
 class="content-empty h-20% w-100% left-0 absolute -bottom-20 -z-10 backdrop-blur-30px backdrop-filter"
>
</div>
<div
 class="content-empty h-20% w-100% left-0 absolute -bottom-20 -z-10 backdrop-blur-10px backdrop-filter"
>
</div>
<div
 class="content-empty h-20% w-100% left-0 absolute -bottom-20 -z-10 backdrop-blur-10px backdrop-filter"
>
</div>
<div
 class="content-empty h-20% w-100% left-0 absolute -bottom-20 -z-10 backdrop-blur-10px backdrop-filter"
>
</div>

<style>
 @keyframes gradient-move {
  0% {
   background-position: 0%;
  }
  100% {
   background-position: 200%;
  }
 }
</style>
