
<footer class="flex flex-row justify-between items-end m-20 mb-0 z-10">
 <div class="flex flex-col justify-evenly items-start color-[#fecada]">
  <span class="text-7">ANIMEKOS</span>
  <span class="text-5 mb-10"
   >Discord Server<br /><a target="_blank" href="https://discord.gg/wjGas6FB"
    >discord.gg/animekos</a
   ></span
  >
  <span class="text-3.5"
   >Owned by a.lilac and lars_und_so<br />Copyright {
    new Date().getFullYear()
   }.</span
  >
 </div>

 <div class="flex flex-row justify-start items-start gap-10 text-5">
  <div class="flex flex-col justify-center items-start">
   <a
    target="_blank"
    href="https://ayakobot.com/guilds/298954459172700181/appeals"
    >Ban Appeal</a
   >
   <a href="/privacy">Privacy Policy</a>
  </div>

  <div class="flex flex-col justify-center items-start">
   <a href="/boost">Booster Perks</a>
   <a target="_blank" href="https://www.patreon.com/Lars_und_so">Patreon</a>
   <a href="/partners">Partners</a>
  </div>
 </div>
</footer>